@import "tailwindcss";

@font-face {
  font-family: SpotifyRegular;
  src: url(/fonts/SpotifyRegular.woff2) format("woff2");
}

@font-face {
  font-family: SpotifyBold;
  src: url(/fonts/SpotifyBold.woff2) format("woff2");
}

@font-face {
  font-family: SpotifyExtraBold;
  src: url(/fonts/SpotifyExtraBold.woff2) format("woff2");
}

@font-face {
  font-family: SpotifyLight;
  src: url(/fonts/SpotifyMixUITitleVariable-08bab3354d40f74e5177917b5ae80894.woff2)
    format("woff2");
}

@font-face {
  font-family: SpotifyMix;
  src: url(/fonts/SpotifyMixUI-Bold-09c45a3a0ce9d2971e62cb26e97760fb.woff2)
    format("woff2");
}

body {
  font-family: SpotifyRegular, sans-serif;
}

.bg-primary {
  background-color: #111111;
}

.font-mix {
  font-family: SpotifyMix;
}

.font-light {
  font-family: SpotifyLight, sans-serif;
}

.font-regular {
  font-family: SpotifyRegular, sans-serif;
}

.font-bold {
  font-family: SpotifyBold, sans-serif;
}

.font-extrabold {
  font-family: SpotifyExtraBold, sans-serif;
}

.*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  overflow-x: hidden;
}
