@import "tailwindcss";

@font-face {
  font-family: SpotifyRegular;
  src: url(/fonts/SpotifyRegular.woff2) format("woff2");
}

@font-face {
  font-family: SpotifyBold;
  src: url(/fonts/SpotifyBold.woff2) format("woff2");
}

@font-face {
  font-family: SpotifyExtraBold;
  src: url(/fonts/SpotifyExtraBold.woff2) format("woff2");
}

body {
  font-family: SpotifyRegular, sans-serif;
}

.bg-primary{
  background-color: #111111;
}

.font-regular {
  font-family: SpotifyRegular, sans-serif;
}

.font-bold {
  font-family: SpotifyBold, sans-serif;
}

.font-extrabold {
  font-family: SpotifyExtraBold, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}
