@import "tailwindcss";

@font-face {
  font-family: SpotifyRegular;
  src: url(../public/fonts/SpotifyRegular.woff2) format("woff2");
}

@font-face {
  font-family: SpotifyBold;
  src: url(../public/fonts/SpotifyBold.woff2) format("woff2");
}

@font-face {
  font-family: SpotifyExtraBold;
  src: url(../public/fonts/SpotifyExtraBold.woff2) format("woff2");
}

body {
  font-family: SpotifyRegular, sans-serif;
}

.bg-primary{
  background-color: #111111;
}

.font-regular {
  font-family: SpotifyRegular, sans-serif;
}

.font-bold {
  font-family: SpotifyBold, sans-serif;
}

.font-extrabold {
  font-family: SpotifyExtraBold, sans-serif;
}
